<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/post']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>{{post.postTitle}}</h2></mat-card-title>
        <mat-card-subtitle>{{post.postDesc}}</mat-card-subtitle>
        <mat-card-subtitle>Created by: {{post.postAuthor}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{post.postImgUrl}}" alt="{{post.postTitle}}" id="icard">
      <mat-card-content>
        <dl>
          <dt>Post Content:</dt>
          <dd [innerHTML]="post.postContent"></dd>
          <dt>Reference:</dt>
          <dd>{{post.postReference}}</dd>
        </dl>
      </mat-card-content>
      <mat-card-actions>
        <a id="but1" mat-flat-button color="primary" [routerLink]="['/post/edit', post._id]"><mat-icon>edit</mat-icon></a>
        <a id="but2" mat-flat-button color="warn" (click)="deletePost(post._id)"><mat-icon>delete</mat-icon></a>
      </mat-card-actions>
    </mat-card>
  </div>
  
